<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add prefix="ons" assembly="ONS.NLog.Extensions"/>
  </extensions>
  <variable name="application" value="LabelApplication"/>
  <targets async="true">
    <target xsi:type="Database" name="Error_NLogDB"  keepConnection="true" useTransactions="true"  dbProvider="System.Data.SqlClient"
            connectionString="Server=BLOOMFIELD;Initial Catalog=NLog;User Id=logger;Password=L0gger;"
            commandText="insert into 
                        dbo.Logs([OccurredAt], [MachineName], [Application], [Class], [Method], [LogLevel], [Message], [Exception]) 
                        values (@TimeStamp, @Machine, @Application, @ClassName, @MethodName, @Level, @Msg, @Stacktrace)">
      <parameter name="@TimeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
      <parameter name="@Machine" layout="${machinename}"/>
      <parameter name="@Application" layout="${application}"/>
      <parameter name="@ClassName" layout="${callsite:methodName=false}"/>
      <parameter name="@MethodName" layout="${callsite:className=false}"/>
      <parameter name="@Level" layout="${level:uppercase=true}"/>
      <parameter name="@Msg" layout="${message}"/>
      <parameter name="@Stacktrace" layout="${message} | ${stacktrace}"/>
    </target>
    <target xsi:type="Database" name="Info_NLogDB"  keepConnection="true" useTransactions="true"  dbProvider="System.Data.SqlClient"
            connectionString="Server=BLOOMFIELD;Initial Catalog=NLog;User Id=logger;Password=L0gger;"
            commandText="insert into 
                        dbo.Logs([OccurredAt], [MachineName], [Application], [Class], [Method], [LogLevel], [Message]) 
                        values (@TimeStamp, @Machine, @Application, @ClassName, @MethodName, @Level, @Msg)">
      <parameter name="@TimeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
      <parameter name="@Machine" layout="${machinename}"/>
      <parameter name="@Application" layout="${application}"/>
      <parameter name="@ClassName" layout="${callsite:methodName=false}"/>
      <parameter name="@MethodName" layout="${callsite:className=false}"/>
      <parameter name="@Level" layout="${level:uppercase=true}"/>
      <parameter name="@Msg" layout="${message}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" levels="Warn,Error" writeTo="Error_NLogDB"/>
    <logger name="*" level="Info" writeTo="Info_NLogDB"/>
  </rules>
</nlog>